$navbar-height: 64px;

/**
 * Site header
 */
.site-header {
    // border-bottom: 1px solid #f0f0f0;
    min-height: $navbar-height;

    // Positioning context for the mobile navigation icon
    position: relative;
    // margin-bottom: 60px;
}

.site-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: $navbar-height;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: $navbar-height;

    font-size: 16px;
    font-weight: 500;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin-top: 30px;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit * 3 0;

    .profile-pic {

        img {
            text-align: left;
            width: 250px;
            // border-radius: 70px;
            margin: 0;
            margin-bottom: 40px;
        }
    }

    #home {
        ul.social-media {
            text-align: center;
            font-size: 16pt;
            margin-top: 40px;

            li {
                a {
                    color: $grey-color-dark;

                    &:hover {
                        color: $brand-color;
                    }
                }
                margin: 0px 20px;
                list-style: none;
                display: inline;
            }
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    p {
        margin-bottom: 0;
    }

    a.read-more {
        color: $brand-color;
        // font-size: $small-font-size;
    }

    > li:not(:last-child) {
        margin-bottom: $spacing-unit * 1.2;
        padding-bottom: $spacing-unit * 1.2;
        border-bottom: 1px solid #eee;
    }
}

.post-meta {
    color: $grey-color-lightish;
}

.post-link {
    line-height: 1.4em;
    color: $text-color;
    display: block;
    font-size: 34px;
    font-weight: 700;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

}

.post-categories {
    ul {
        margin: 40px 0;
        padding: 0;

        li {
            a {
                color: $grey-color;
                margin-right: 10px;
                padding: 7px 12px;
                border-radius: 5px;
                background-color: #f4f4f4;

                &:hover {
                    text-decoration: none;
                    background-color: darken(#f4f4f4, 3%);
                }
            }

            list-style: none;
            display: inline;
        }
    }
}

.post-cover-image{
    margin: 0;
    width: 100%;
}

.post-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;

    @include media-query($on-laptop) {
        font-size: 50px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    p{
        margin: 1.1em 0;
    }

    h1, h2, h3 {
        margin-top: 1.4em;
    }

    h1 {
        font-size: 36px;

        @include media-query($on-laptop) {
            font-size: 32px;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
        display: block;
        margin: 1.2em auto;

        &.shadowed {
            box-shadow: 0px 15px 20px rgba(0,0,0,0.4);
            border-radius: 5px;
            margin-bottom: 50px;
        }
    }

    em img{
        margin: 30px -8% 30px -8%;
        max-width: 116%;
    }

    .img-caption{
        text-align: center;
        font-size: $medium-font-size;
        color: $grey-color;
        margin-bottom: 24px;
        margin-top: -15px;
    }
}

#index {
    // text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;

        h1 {
            font-size: 36pt;
            font-weight: 400;
            line-height: 1.3em;    
            margin: 0;
            padding: 0 50px;
        }

        ul {
            color: lighten($grey-color, 10%);
            font-size: 20pt;
            margin: 0;
            margin-top: 0.5em;
            padding: 0 50px;

            li {
                display: inline;
                list-style: none;
                margin: 0px;
                margin-right: 50px;
                font-weight: 300;
            }
        }

        @media (max-width: 480px){
            h1 {
                text-align: left;
                font-size: 20pt;
                padding: 0 30px;
            }

            ul {
                text-align: left;
                font-size: 11pt;
                padding: 0 30px;

                li {
                    margin: 0;
                    margin-right: 10px;
                }
            }
        }
    }

}